@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    color: white;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    --primary-color: #ffd600;
    --secondary-color: #ea5705;
}

/* header */
.container-fluid {
    max-width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;

}

.home{
    justify-content: left;
}

.home a{
    text-decoration: none;
    font-weight: bold;
    padding: 1.2rem;
    color: black;
}

.logo{
    width: 140px;
}

.search{
    border-radius: 5px;
    border: none;
    padding: 6px;

}

.search-main{
    width: fit-content;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.search-main > i{
    font-size: 20px;
    padding: 8px;
}

.Hethong{
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
}

.href{
    padding: 22px 10px;

}

.href > a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

a:hover{
    color: var(--secondary-color);
}


@media (max-width: 1200px) {
    .container-fluid {
        padding: 5px;
    }

    .logo {
        max-width: 8rem;
    }

    .search-main {
        max-width: 60%;
        height: 35px;
        margin: 15px 0px;
    }

    .search-main i{
        display: none;
    }

    .Hethong {
        font-size: 1rem;
    }

    .href {
        padding: 1rem 0.5rem;
        cursor: pointer;
    }

    .href > i{
        font-size: 1rem;
    }

    .href > a {
        padding: 1rem 0.5rem;
    }
    .banner-left,.banner-right,.search-icon{
        display: none;
    }
}

@media (max-width: 900px) {
    .logo {
        max-width: 6rem;
    }

    .search-main {
        max-width: 100%;
        height: 25px;
        margin-top: 20px;
    }

    .search{
        width: 100%;
    }

    .search-main > i {

        display: none;
    }

    .Hethong {
        font-size: 0.9rem;
    }

    .href {
        padding: 0.8rem 0.4rem;
    }

    .href > i{
        font-size: 0.9rem;
    }

    .href > a {
        padding: 0.8rem 0.4rem;
    }
}

@media (max-width: 600px) {
    .home, .search-main, .Hethong {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .home{
        margin-top: 10px;
    }

    .logo {
        max-width: 5rem;
    }

    .search-main {
        max-width: 100%;
        height: 25px;
        margin-top: 20px;
    }

    .search{
        width: 100%;
    }

    .search-main > i {

        display: none;
    }

    .Hethong {
        font-size: 0.8rem;
    }

    .href {
        padding: 0.6rem 0.3rem;
    }

    .href > i{
        display: none;
    }

    .href > a {
        padding: 0.6rem 0.3rem;
    }
    .title-slide{
        font-size: 0.8rem;
    }

   


}

/* end- header */



/*Login*/

#login > a:hover{
    color: var(--secondary-color);
}

#login-main{
    position: absolute;
    background-color: rgb(156, 153, 153);
    display: flex;
    flex-direction: column;
    top: 100%;
    box-shadow: 1px 1px 15px rgb(134, 134, 134);
    
}

#login-main > a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

#login-main > a:hover{
    background-color: rgb(239, 232, 232);
}

#login-main > .dangxuat{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 7px;
}
/*Login*/
/* form */
.title > h3{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;

}

.menu{
    width: 440px;
    margin: 120px auto;
    padding: 0.8rem 1.2rem;
    box-shadow: -1px 6px 28px #7e7e7e;
    border-radius: 10px;
}

.menu-login{
    width: 60%;
    display: flex;
    margin: 120px auto;
    padding: 0.8rem 1.2rem;
    box-shadow: -1px 6px 28px #7e7e7e;
    border-radius: 10px;
}

.menu-login img{
    border-radius: 5px;
    margin-top: 30px;
    width: 350px;
    height: 260px;
    object-fit: cover;
}

.form-login{
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 70%;
    height: 40px;
    margin: 16px auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 6px;
}


.buton{
    margin: auto;
    text-align: center;
    width: 90%;
}
.buton > button{
    width: 90%;
    padding: 6px 20px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}

#buton2,#buton3{
    width: 30%;
    text-align: center;
    padding: 6px 20px;
    margin-top: 10px;
    margin-left: 140px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    justify-content: center;
}




#xuat{
    width: 80%;
    margin-top: 10px;
    padding: 10px;
    margin: auto;
    display: none;
}

.thongtin{
    text-align: center;
}

#xuat > p {
    color: red;
}

#xuat > p > span{
    color: black;
}
/* end-form */


footer{
    padding: 1rem 4.2rem;
    background-color: rgb(215, 210, 210);
}

.row2 h4{
    font-weight: bold;
    color: black;
}