.container{
    display: flex;
}

.phone-box{
    width: 140px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 1px;
    position: relative;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    transition: 0.4s ease;
    background-color: white;
}

.phone-box img{
    width: 30%;
    float: left;
}


.phone-box span{
    width: 68%;
}

.text{
    color: rgb(255, 79, 79);
    font-size: 16px;
}


.phone-box:focus {
    background-color: rgb(227, 230, 229);
    transform: translateY(-2px);
}


